[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]


[dev-packages]

"e1839a8" = {path = ".", editable = true}
pytest = ">=3.1.2"
pytest-runner = ">=2.11"
pytest-cov = ">=2.5.1"
pytest-asyncio = ">=0.6.0"
asynctest = ">=0.8.0"
sphinx = ">=1.6.2"
sphinxcontrib-asyncio = ">=0.2.0"
docutils = "*"
pygments = "*"


[requires]

python_version = "3.5"
