[tool.poetry]
name = "aiospamc"
version = "0.5.0"
description = "An asyncio-based library to communicate with SpamAssasin's SPAMD service."
authors = ["Michael Caley <mjcaley@darkarctic.com>"]
license = "MIT"
readme = "README.rst"

repository = "https://github.com/mjcaley/aiospamc"
homepage = "https://github.com/mjcaley/aiospamc"

classifiers = [
    'Development Status :: 4 - Beta',
    'Programming Language :: Python :: 3.5',
    'Programming Language :: Python :: 3.6',
    'Programming Language :: Python :: 3.7',
    'Intended Audience :: Developers',
    'Intended Audience :: System Administrators',
    'License :: OSI Approved :: MIT License',
    'Topic :: Communications :: Email :: Filters'
]

keywords = ["spam", "spamc", "spamassassin"]

[tool.poetry.dependencies]
python = "^3.5"

[tool.poetry.dev-dependencies]
asynctest = "^0.13.0"
pytest = "^5.1"
pytest-cov = "^2.7"
pytest-asyncio = "^0.10.0"
sphinx = "^2.2"
pytest-mock = "^1.10"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
