trigger:
  tags:
    include:
    - 'v*.*.*'

variables:
- template: 'vars.yaml'

steps:
- template: 'templates/ci_steps.yaml'
  parameters:
    PythonVersion: '3.8'

- script: |
    $HOME/.poetry/bin/poetry config pypi-token.pypi "$API_KEY"
  displayName: 'Set PyPI API key'
  env:
    API_KEY: '$(POETRY_PYPI_TOKEN_PYPI)'

- script: |
    $HOME/.poetry/bin/poetry publish --build --no-interaction
  displayName: 'Poetry publish'

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Build.SourcesDirectory)/dist/'
    Contents: '**'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: 'drop'

- task: GitHubRelease@1
  inputs:
    gitHubConnection: 'Releases'
    repositoryName: '$(Build.Repository.Name)'
    action: 'create'
    target: '$(Build.SourceVersion)'
    tagSource: 'gitTag'
    assets: '$(Build.SourcesDirectory)/dist/*'
    changeLogCompareToRelease: 'lastFullRelease'
    changeLogType: 'commitBased'
